@import url('https://fonts.googleapis.com/css2?family=Alata&family=Elms+Sans:ital,wght@0,100..900;1,100..900&family=Google+Sans+Flex:opsz,wght@6..144,1..1000&family=Teachers:ital,wght@0,400..800;1,400..800&display=swap');

@import "tailwindcss";


@custom-variant dark (&:is(.dark *));

:root {
  --white-background: #F2EFEA;
  --black-font: #291F1E;
  --yellow-font: #F2D492;
  --gray-font: #969392;
}

.alata {
  font-family: "Alata", sans-serif;
}

.teachers {
  font-family: "Teachers", sans-serif;
  font-weight: auto;
  font-style: normal;
}

.elms-sans {
  font-family: "Elms Sans", sans-serif;
  font-optical-sizing: auto;
  font-style: normal;
}

footer {
  padding: 56px 50px 16px;
}

input {
  width: 200;
  background-color: transparent;
  border-bottom: 2px #F2EFEA solid;
  height: 2rem;
}

input[type=message] {
  height: 50px;
}